<!--Quiz Application: In this application, you can answer multiple-choice questions. 
This will help you understand how to handle events like selecting an option and clicking on the ‘Next’ button,
and how to use parameters to determine which question the user is answering.-->

<h3>Quiz</h3>

<p></p>


@code {
	

	

}
